{% extends 'registration/base.html' %}

{% block title %} حذف بیمار {% endblock %}

{% block meta %} حذف بیمار {% endblock %}

{% block main %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">حذف بیمار</h3>
            </div>
            <div class="card-body py-4">
                <form method="post">{% csrf_token %}
                    <p class="py-2">آیا از حذف این بیمار اطمینان دارید؟</p>
                    {{ form }}
                    <input class="btn btn-danger" type="submit" value="حذف">
                </form>
            </div>
        </div>
    </div>
{% endblock %}