{% extends 'registration/base.html' %}

{% block title %}  تعداد بیماران و واکسن ها{% endblock %}

{% block meta %} اعلام وضعیت  {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            {% if patient_count %}
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>تعداد واکسن های موجود</th>
                                <th>تعداد بیمارانی که واکسن های مختلف را دریافت کردند </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a class="btn btn-primary" href="{% url 'adminpanel:vaccine_list' %}">{{vaccine_count}}</a></td>
                                <td><a class="btn btn-danger" href="{% url 'adminpanel:home' %}">{{patient_count}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            {% else %}
                <h3>محتوایی برای نمایش وجود ندارد</h3>
            {% endif %}
            <!-- /.card -->
        </div>
    </div>
{% endblock %}