{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %} افزودن واکسن {% endblock %}

{% block meta %} افزودن واکسن {% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن واکسن</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ form.name | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.slug | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.category | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.country | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.availablity | as_crispy_field }}
                        {{ form.count | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.description | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.picture | as_crispy_field }}
                    </div>
                    
                </div>

                <br>
                <br>

                <button class="btn btn-success">ثبت واکسن</button> 
                {% if user.is_author and request.resolver_match.kwargs.pk %}
                    <a href="{% url 'adminpanel:vaccine_delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">
                        حذف
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}